---
import { CurrentWeatherCardUIModel } from '../uimodels/TopPageUIModel';
import FavoriteButton from './FavoriteButton.astro';

interface Props {
  model: CurrentWeatherCardUIModel;
}

const { model } = Astro.props;
---

<div class="w-full max-w-xl mx-auto font-sans text-white px-4 sm:px-0">  
  <div class="flex flex-row items-start justify-center sm:justify-start gap-1 sm:gap-12 w-full">
    
    <!-- Temperature -->
    <div class="text-[6rem] sm:text-[10rem] font-light leading-none w-[150px] text-center">
      {Math.floor(model.temperature)}°
    </div>

    <!-- Right Side Info -->
    <div class="flex flex-col py-1 w-full">
      
      <!-- Location + Emoji + Favorite -->
      <div class="flex items-center justify-center sm:justify-start gap-0 pt-5 sm:pt-10 text-[2rem] sm:text-[3.5rem] font-light">
        <span>{model.location}</span>
        <span>❄️</span>
        <div class="">
          <FavoriteButton model={model.favoriteButton} />
        </div>
        
      </div>

      <!-- Date -->
      <p class="text-[14px] sm:text-base py-0 sm:gap-0">Date Here</p> 

      <!-- Hidden on mobile -->
      <div class="hidden sm:flex flex-col gap-1 text-base">
        <p>Humidity: <span class="font-medium">{model.humidity}%</span></p>
        <p>Pressure: <span class="font-medium">{model.pressure} hPa</span></p>
      </div>

    </div>
  </div>
</div>