---
import { DailyForecastSectionUIModel } from '../uimodels/TopPageUIModel';

interface Props {
  model: DailyForecastSectionUIModel;
}

const { model } = Astro.props;
---

<div>
  <h2 class="text-2xl font-bold text-white font-bold text-center">Daily Forecast</h2>
  {model.forecasts.map((forecast) => (

    <div class="text-white text-sm" >

      <div class="grid grid-cols-4 text-center justify-between flex flex-row gap-x-12 m-0 p-0 mt-8">

        <div class=""> 
          <p class="w-18">{new Date(forecast.date).toLocaleDateString('en-US', { weekday: 'long' })}</p>
          </div>

        <div class="flex flex-row gap-4 m-0"> 
          <p class="w-12">{forecast.maxTemp}째C</p>
          <img class="w-3"  src="./src/assets/icons/thermometer-hot.svg"/>
        </div>

        <div class=" flex flex-row gap-4 m-0"> 
          <p class="w-12">{forecast.minTemp}째C </p>
          <img class="w-3" src="./src/assets/icons/thermometer-cold.svg"/>
        </div>

        <div class=""> 
         <p>{forecast.weather}</p>
        </div>

    <div class="space-y-4 m-4">
      <div class="flex gap-3">
        <p class="">Date: {forecast.date}</p>
        <p>{forecast.maxTemp}째C </p>
        <p>{forecast.minTemp}째C vector</p>
        <img src={forecast.weatherIconImagePath} alt={forecast.weather} class="w-10 h-10" />

      </div>
    </div>

  ))}
</div> 


