---
import { DailyForecastSectionUIModel } from '../uimodels/TopPageUIModel';

interface Props {
  model: DailyForecastSectionUIModel;
}

const { model } = Astro.props;
---

<div>
  <h2 class="text-2xl font-bold text-black">Daily Forecast</h2>
  {model.forecasts.map((forecast) => (
    <div class="space-y-4 m-4">
      <div class="flex gap-3">
        <p class="">Date: {forecast.date}</p>
        <p>{forecast.maxTemp}°C </p>
        <p>{forecast.minTemp}°C vector</p>
        <img src={forecast.weatherIconImagePath} alt={forecast.weather} class="w-10 h-10" />
      </div>
    </div>
  ))}
</div> 